<!doctype html>
<html>
  
  <head>
  	<meta charset="utf-8" />
  	<link rel="stylesheet" type="text/css" href="stylesheets/pure.css">
  	<link rel="stylesheet" type="text/css" href="stylesheets/splash.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/browse.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/quiz.css">
  	<title>{{title}}</title>
  </head>

  <body>
  	
  	<div id="nav-bar" class="pure-menu pure-menu-open pure-menu-horizontal">
		<div class="navbar-logo"><a href="#" class="pure-menu-heading"><img class="navbar-logo-img" src="images/peacecorpslogo.gif" alt="Peace Corps"><div class="navbar-logo-text">KSL Glossary</div></a></div>
  		<form class="pure-form nav-search">
  			<input type="text" class="pure-input-rounded" placeholder="Search...">
  		</form>
  		<ul>
	  		<li><a href="#" class="nav-link">About</a></li>
	  		<li><a href="#" class="nav-link">Quiz</a></li>
	  		<li><a href="#" class="nav-link">Help</a></li>
	  	</ul>
  	</div>

  	{{{body}}}

  	<script type="text/javascript" src="javascripts/jquery.js"></script>
  	<script type="text/javascript" src="javascripts/splash.js"></script>

  </body>

</html>