<!doctype html>
<html>
  
  <head>
  	<meta charset="utf-8" />
  	<link rel="stylesheet" type="text/css" href="stylesheets/pure.css">
  	<link rel="stylesheet" type="text/css" href="stylesheets/splash.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/browse.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/quiz.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/admin.css">
  	<title>{{title}}</title>
  </head>

  <body>
  	

  	{{{body}}}

  	<script type="text/javascript" src="javascripts/jquery.js"></script>
  	<script type="text/javascript" src="javascripts/splash.js"></script>

  </body>

</html>