<div class="pure-g-r about">
	<div class="pure-u-1-4"></div>
	<div class="pure-u-2-4">
		<div class="title-section">
			<div class="about-title">About</div>
		</div>
  	</div>
  	<div class="pure-u-1-4"></div>
</div>