<div class="pure-g-r">
  <div class="pure-u-1-3">
  </div>
  <div class="pure-u-1-3 admin-form">
    <h1 class="admin-welcome">Welcome</h1>

    <form class="pure-form pure-form-stacked">
      <fieldset>
        <label for="admin-username">Username</label>
        <input id="admin-username" type="text" placeholder="Username" required>

        <label for="admin-password">Password</label>
        <input id="admin-password" type="password" placeholder="Password" required>
        <button type="submit" class="pure-button">Log in</button>
      </fieldset>
    </form>
  </div>
  <div class="pure-u-1-3">
  </div>
</div>