<div class="pure-g-r title-section">
	<div class="pure-u-1-5"></div>
	<div class="pure-u-3-5 title">Browse Categories</div>
	<div class="pure-u-1-5"></div>
</div>

<div class="pure-g-r browse">
	<div class="pure-u-1-5"></div>
	<div class="pure-u-3-5">
		<a href="#"><div id="all" class="category pure-u-1-3">
			<div class="category-title">All</div>	
		</div></a>
		<a href="#"><div id="bio" class="category pure-u-1-3">
			<div class="category-title">Biology</div>
		</div></a>
		<a href="#"><div id="chem" class="category pure-u-1-3">
			<div class="category-title">Chemistry</div>
		</div></a>
	</div>
	<div class="pure-u-1-5"></div>
</div>

<div class="pure-g-r browse">
		<div class="pure-u-1-5"></div>
	<div class="pure-u-3-5">
		<a href="#"><div id="math" class="category pure-u-1-2">
			<div class="category-title">Mathematics</div>
		</div></a>
		<a href="#"><div id="phys" class="category pure-u-1-2">
			<div class="category-title">Physics</div>
		</div></a>
	</div>
	<div class="pure-u-1-5"></div>
</div>