<div class="pure-g-r help">
	<div class="pure-u-1-4"></div>
	<div class="pure-u-2-4">
		<div class="title-section">
			<div class="help-title">Help</div>
		</div>
  	</div>
  	<div class="pure-u-1-4"></div>
</div>