<div class="pure-g-r splash">
	<div class="pure-u-1-4"></div>
	<div class="pure-u-2-4">
		<div class="logo">
			<div class="large-logo"><img src="images/peacecorpslogo.gif" alt="Peace Corps"></div>
			<div class="logo-text">KSL Glossary</div>
		</div>

	  	<form class="pure-form search-bar">
	  		<input type="text" class="pure-input-2-3 pure-input-rounded search" placeholder="Search...">
	  	</form>

  		<div class="browse-link">or <a href="#">Browse</a></div>
  	</div>
  	<div class="pure-u-1-4"></div>
</div>