<div class="pure-g-r title-section">
	<div class="pure-u-1-5"></div>
	<div class="pure-u-3-5 title">Biology</div>
	<div class="pure-u-1-5"></div>
</div>

<div class="pure-u-1">
	<div id="A" class="letter"><a href="#">A</a></div>
	<div id="B" class="letter"><a href="#">B</a></div>
	<div id="C" class="letter"><a href="#">C</a></div>
	<div id="D" class="letter"><a href="#">D</a></div>
	<div id="E" class="letter"><a href="#">E</a></div>
	<div id="F" class="letter"><a href="#">F</a></div>
	<div id="G" class="letter"><a href="#">G</a></div>
	<div id="H" class="letter"><a href="#">H</a></div>
	<div id="I" class="letter"><a href="#">I</a></div>
	<div id="J" class="letter"><a href="#">J</a></div>
	<div id="K" class="letter"><a href="#">K</a></div>
	<div id="L" class="letter"><a href="#">L</a></div>
	<div id="M" class="letter"><a href="#">M</a></div>
	<div id="N" class="letter"><a href="#">N</a></div>
	<div id="O" class="letter"><a href="#">O</a></div>
	<div id="P" class="letter"><a href="#">P</a></div>
	<div id="Q" class="letter"><a href="#">Q</a></div>
	<div id="R" class="letter"><a href="#">R</a></div>
	<div id="S" class="letter"><a href="#">S</a></div>
	<div id="T" class="letter"><a href="#">T</a></div>
	<div id="U" class="letter"><a href="#">U</a></div>
	<div id="V" class="letter"><a href="#">V</a></div>
	<div id="W" class="letter"><a href="#">W</a></div>
	<div id="X" class="letter"><a href="#">X</a></div>
	<div id="Y" class="letter"><a href="#">Y</a></div>
	<div id="Z" class="letter"><a href="#">Z</a></div>
</div>

<div class="pure-g-r words-section">
	<div class="pure-u-1-3 list"></div>
	<div class="pure-u-2-3 videos"></div>
</div>