<div class="pure-g-r title-section">
	<div class="pure-u-1-5"></div>
	<div class="pure-u-3-5 title">Biology</div>
	<div class="pure-u-1-5"></div>
</div>

<div id="alphabet" class="alphabet pure-menu pure-menu-open pure-menu-horizontal">
	<ul>
		<li class="pure-menu-selected"><a href="#">A</a></li>
		<li><a href="#">B</a></li>
		<li><a href="#">C</a></li>
		<li><a href="#">D</a></li>
		<li><a href="#">E</a></li>
		<li><a href="#">F</a></li>
		<li><a href="#">G</a></li>
		<li><a href="#">H</a></li>
		<li><a href="#">I</a></li>
		<li><a href="#">J</a></li>
		<li><a href="#">K</a></li>
		<li><a href="#">L</a></li>
		<li><a href="#">M</a></li>
		<li><a href="#">N</a></li>
		<li><a href="#">O</a></li>
		<li><a href="#">P</a></li>
		<li><a href="#">Q</a></li>
		<li><a href="#">R</a></li>
		<li><a href="#">S</a></li>
		<li><a href="#">T</a></li>
		<li><a href="#">U</a></li>
		<li><a href="#">V</a></li>
		<li><a href="#">W</a></li>
		<li><a href="#">X</a></li>
		<li><a href="#">Y</a></li>
		<li><a href="#">Z</a></li>
	</ul>
</div>

<ul>
	{{#each vids.a}}
	<li>{{word}}</li>
	{{/each}}
</ul>

<div class="pure-g-r words-section">
	<div class="pure-u-1-3 list"></div>
	<div class="pure-u-2-3 videos"></div>
</div>