@import "globals";

.about {
	background: {
		color: black;
		repeat: no-repeat;
		position: center;
		size: contain;
		//image: url('../images/kenyaschoolkidsroad.jpg');
	}

	z-index: 1;

	@include somewhat-black-bg('../images/about.jpg');

	.about-title {
		color: white;
		font-size: 90px;
		margin-left: 210px;
	}
}