@import "globals";

.splash {
	background: {
		color: black;
		repeat: no-repeat;
		position: center;
		size: cover;
		//image: url('../images/kenyaschoolkidsroad.jpg');
	}

	z-index: 1;

	@include somewhat-black-bg('../images/kenyaschoolkidsroad.jpg');
}