@import "globals";

.title-section {
	margin-top: 20px;
	margin-bottom:40px;
}

.title {
	color: #565D64;
	font: exo-dark-font;
	font-size: 45px;
	text-align: center;
}

div#alphabet {
	margin-top:30px;
}